*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
  background-color: wheat;
}

.divis{border: 0; 
  text-align: center;
  margin: auto;
  height: 2px; 
  border-top: 1px dashed black; 
  border-bottom: 1px dashed black;
  width:70%}

.twitter-share-button{
  border-radius: 50%;
  background-color: aquamarine;
  padding: 6px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
 
}

main{ 
  background-color: wheat;
  margin: auto;
}

/* barra de navegacion */

.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*slider */

.slider{
  width: 100%;
  height: 20rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.slider ul{
 display: flex;
  animation: cambio 15s infinite alternate linear ;
  width: 300%;
  padding: 0;
}
.slider li{
  width: 100%;
  padding: 0;
  list-style: none;
}
.slider img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.menu{
  text-align: center;
}


.menu li{
  display: inline-block;
  text-align: center;
  padding: 0;
}

  
.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 0;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 10%;
}

.menu li a:hover{
  background-color: blue;
}

@keyframes cambio{
  0%{margin-left: 0;}
  32%{margin-left: 0;}
    
  34%{margin-left: -100%;}
  66%{margin-left: -100%;}
    
  68%{margin-left: -200%;}
  100%{margin-left: -200%;}
    
}




/* de aca para abajo empieza el style de las recetas */

.divisor{
  border-top: #000 double 3px;
  width: 70%;
  margin: auto;
}

.receta{
  padding: 0;
  margin: auto;
  background-color: white;
  width: 80%;
}

.pad6{
  padding: 6%;
}

.pad10{
  padding-left: 10%;
  padding-right: 10%;
}

.FrecipeTit{

  text-align: center;
  margin: auto;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 5rem;


}

.centered{
  margin: auto;
  text-align: center;
 
}

.recipeTit{

  text-align: center;
  margin: auto;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 3rem;


}


.recipes{
  margin: 1%;
  padding: 0rem;
}

.img-rec{
  text-align: center;
  padding: 2rem;
  margin: auto;
  width: 100%;
  height: 50%;

}
.img-sep{
  text-align: center;
  margin-left: 25%;
  margin-right: 30%;
  width: 50%;
  height: 50%;
  padding: 0;

}

.rec-items ul,li{
  list-style: none;
  padding-left: 1rem;

}

.ing{
 
}

.ing li{
  list-style: circle;
  margin: auto;
}

.instrucciones{
  padding: 1rem;
  line-height:25px; 
  text-align:justify;
}

.subtitle{
  font-size: 1.2rem;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 10px;
  margin: auto;
}


.first-title {
  margin: 3rem auto;
  font-size: 8rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding: 1rem;
  font-weight: bold;
  
  
}

.title{
 
  font-size: 5rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.ingredientes{
  padding: 10px;
}

.tiempoPrep{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Beth Ellen', cursive;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-align: center;
 
}

.tiempoPrep2{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Beth Ellen', cursive;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-align: center;
 
}


.recipe-title{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}


/*fb button */

#compartir{
  text-align: end;
}

/* aca esta el boton flotante */

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: red; /* Color de fondo */
	padding: 10px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
  border-radius: 100%;
}
.btn-flotante:hover {
	background-color: blue; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.coments{
  text-decoration: underline;
}

.comentBox{
 padding: 15px;
 
}

.dotBox{
 padding: 15px;
 border: 1px dotted black;
}

.cajaCom{
  width: 70%;
  margin: auto;

}

.centerButton {
  text-align: center;
}

.formulario{
  width: 50%;
  margin: auto;
  border: 1px solid black;
  box-shadow: 2px 3px 2px black;
  padding: 4rem 10rem;
}

.message{
  width: 50%;
  margin: auto;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;

}

#btSend{
  background-color: crimson;
  padding: 6px;
  font-size: 1.2rem;
  color: white;
  font-weight: bolder;
  border-radius: 15px;
  box-shadow: 2px 2px 2px gray;
}

+
/* -------------------------------------------------------------------------------------------------------------*/


/* -------------------------------------------------------------------------------------------------------------*/
/* Screen larger than 800px?  */
@media (min-width: 800px) {



main{
  
  width: 100%;
}

/* barra de navegacion */


.nav-bar{
  position: fixed;
  height: 7%;
  width: 100%;
  background-color: #000;
  text-align: center;
}

.nav-bar li{
  display: inline-block;
  color: white;
  background-color: #000;
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid black;


}

.nav-bar li:hover{
  background-color: gray;
  font-weight: bold;
}


/* aca esta armado el slider */

.slider{
  width: 100%;
  height: 20rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

.slider ul{
    display: flex;
    animation: cambio 15s infinite alternate linear ;
    width: 300%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu{
    text-align: center;
   
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
    padding: 0;
   
   
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 0;
    font-size: 2rem;
    border: 1px solid greenyellow;
    border-radius: 10%;
  }

@keyframes cambio{
    0%{margin-left: 0;}
    32%{margin-left: 0;}
    
    34%{margin-left: -100%;}
    66%{margin-left: -100%;}
    
    68%{margin-left: -200%;}
    100%{margin-left: -200%;}
    
}




/* de aca para abajo empieza el style de las recetas */

.receta{
padding: 0;
margin: auto;

width: 80%;
}

.recipes{
 
  margin: 5%;
  padding: 2rem;
}

.img-rec{
  text-align: center;
  padding: 2rem;
  margin: auto;
  width: 100%;
  height: 50%;

}
.img-sep{
  text-align: center;
  margin-left: 25%;
  margin-right: 30%;
  width: 50%;
  height: 50%;
  padding: 0;

}

.rec-items ul,li{
  list-style: none;
  padding-left: 1rem;

}

.ing{
  padding-left: 3rem;
  
}

.ing li{
  list-style: circle;
  margin-left: 2rem;
}

.instrucciones{
  padding: 1.5rem;
  line-height:25px; 
  text-align:justify;
}



.first-title {
  margin: 3rem auto;
  font-size: 8rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding: 1rem;
  font-weight: bolder;
  
  
}

.title{
 
  font-size: 5rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.ingredientes{
  padding: 10px;
}

.tiempoPrep{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Beth Ellen', cursive;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-align: center;
  text-decoration:underline ;
}

.recipe-title{
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.pad6{
  padding: 6rem;
}

.pad10{
  padding-left: 10rem;
  padding-right: 10rem;
}

.FrecipeTit{

  text-align: center;
  margin: auto;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 5rem;


}

.centered{
  margin: auto;
  text-align: center;
}

.recipeTit{

  text-align: center;
  margin: auto;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 3rem;


}


}
